
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
#left-bar {
  position: fixed;
  display: table-cell;
  top: 100;
  bottom: 10;
  left: 10;
  width: 35%;
  overflow-y: auto;
}
#right-bar {
  position: fixed;
  display: table-cell;
  top: 100;
  bottom: 10;
  right: 10;
  width: 45%;
  overflow-y: auto;
}
</style>
<body>
<center><h1> Image Classification </h1></center>
<div id= "left-bar" >
<p> grille </p> <picture> <img src= "../static/URL_https:__www.analyticsvidhya.com_blog_2019_01_build-image-classification-model-10-minutes_/1.jpeg"  height="300" width="400"> </picture></div> <div id= "right-bar" ><li> grille : 1 </li></div>
</body>
</html>
